<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script src="../Scripts/Application.js"></script>*@
<script>
    function appli() {
        de
        var formData = {
            "Custname": $("#name").val(),
            "EmployerName": $("#employer_name").val(),
            "LifeInsuranceName": $("#insurance_name").val(),
            "Custphone": $("#phoneNumber").val(),
            "Custaddress": $("#address").val()
        }
        $.ajax({
            url: "api/MBRs",
            type: "POST",
            data: formData,
            dataType: 'json',

            success: function (data) {
                alert("data:" + data)
                alert("data.applicationid:" + data.applicationid)
            }
        });
        return true;
    }
</script>
<form role="form">
    <center>
        <h2>Fill your Application</h2>
        <label>Enter the name: </label>
        <input type="text" name="name" id="name" tabindex="1" required>
        <br />
        <br />
        <label>Enter the employer name: </label>
        <input type="text" name="employer_name" id="employer_name" tabindex="2" required>
        <br /><br />
        <label>Enter the insurance company name:</label>
        <input type="text" name="insurance_name" id="insurance_name" tabindex="3" required>

        <br /><br />
        <label>Enter phone Number:</label>
        <input type="number" name="phoneNumber" id="phoneNumber" tabindex="4" required>
        <br /><br />
        <label>Enter Address:</label>
        <input type="text" name="address" id="address" tabindex="5" required>
        <br /><br />
        <div>
            <button type="submit" value="submit" onclick="return appli()">Submit</button>
        </div>
        <br /><br />
    </center>
</form>
